body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    letter-spacing: 1px;
}

:root {
    --text-color: black;
    --background-color: white;
    --backgroung-hover: #333;
}

.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parentText{
    flex: 1;
    justify-content: space-around;
    flex-direction: column;
    margin: 100px;
}
h1{
    font-size: xxx-large;
    margin-bottom: 50px;
}
form{
    display: flex;
    align-items: start;
    flex-direction: column;
}
input, button{
   margin: 30px 0 30px 0;
   border: none;
   border-bottom: 1px solid var(--text-color);
   padding-right: 300px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.password{
    margin-top: -5px;
    margin-bottom: 5px;
    position: relative;
}
.eye{
   position: absolute;
   display: inline;
   left: 520px;
   top: 348px;
   cursor: pointer;
}

.loginbtn, .signupbtn{
    padding: 10px 200px;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    display: block;
    width: 100%;
    max-width: 470px;
}
  
.loginbtn{
    color: var(--background-color);
    background-color: var(--text-color);
}
.loginbtn:hover{
    color: var(--background-color);
    background-color: var(--backgroung-hover);
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.18);
}
.signupbtn{
    color: var(--text-color);
    background-color: var(--background-color);
    margin-top: -5px;
}
.signupbtn:hover{
    background-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.18);
}

.parentPicture{
    flex: 1;
}
.loginIMG{
    height: 100vh;
    width: 100%;
    flex: 1;
}


/*
========
RESPONSIVE
========
*/
@media screen and (max-width: 1070px){
    .loginIMG{
        display: none;
    }
    .loginPage{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 70px;
    }
/*    .eye{
        position: fixed;
        transform: translateX(10vw);
    }*/
}

@media screen and (max-width: 584px){
  
    .eye{
        position: fixed;
        transform: translateX(-15vw);
    }
}
