/*
========
By Les MEDJAHED 10/11/2025
========*/

:root {
        --primary-color: white;
        --secondary-color: black;
        --button-color:  rgb(222, 176, 120);
        --hover-color:  rgb(143, 115, 81);
 }
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.pageTitle{
    text-align: center;
    padding: 50px 0;
    font-size: 2.8rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    -webkit-text-fill-color: transparent;
    background-image: url(../MultiMedia/newcollection1.jpg);
    word-spacing: 2px;
    font-family: 'Dancing Script', cursive;
    
}

.productIMG{
    height: 200px;
    border-radius: 15px 15px 0 0 ;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    flex-wrap: wrap;
    width: 90%;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
    padding: 100px 50px;
    border-radius: 15px;
    flex-wrap: wrap;
}
.container, .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

span{
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.prodct-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 3px 2px 45px 3px rgba(99,99,99,0.75);
     -webkit-box-shadow: 3px 2px 45px 3px rgba(99,99,99,0.75);
    -moz-box-shadow: 3px 2px 45px 3px rgba(99,99,99,0.75);
    margin: 20px;
}
.pTitle, .price{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    margin: 10px;
}
.btn{
    background-color: var(--button-color);
    padding: 5px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    margin: 15px 0 25px 0;
}
.btn:hover{
    background-color: var(--hover-color);
}
