body{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.comingIMG{
    height: 100vh;
    filter: brightness(0.8);
    position: relative;
    width: 100vw;
}
.title{
    position: absolute;
    color: transparent;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-text-stroke: 2px white;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
