/*PAYMENT BUTTON*/
.payment{
    position: fixed;
    height: 500px;
    width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 35px 4px rgba(0,0,0,0.92);
    z-index: 1;
    display: none;
}
.close{
    position: relative;
    margin: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    left: 450px;
    color: var(--primary-color);
    background-color: rgb(92, 1, 1);
    text-align: center;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin-left: 40px;
}
.cardTitle{
    font-size: 20px;
     margin-bottom: 0;
}
.payIcons{
    height: 30px;
    width: 60px;
    margin: 20px;
}
.cardDate{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}
.mm, .dd, .yyyy{
    width: 20%;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
input{
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 14px;
    font-weight: 300;
    color: lightgray;
    width: 80%;
}
label{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.checkout{
    width: 100%;
    height: 30px;
    color: var(--primary-color);
    background-color: #369e62;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: -30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}